<div class="container beleza">
  <div class="beleza-info">
    <h3>a beleza está</h3>
    <h2>onde você está</h2>
    <p>nossas soluções de bem-estar te acompanham em todos os lugares: em casa, no trabalho ou em uma aventura.</p>
  </div>
  <div class="beleza-solutions">
    <div class="beleza-item">
      <%= image_tag 'singu_sobre_casa.jpg' %>
      <p>casa</p>
    </div>
    <div class="beleza-item">
      <%= image_tag 'singu_sobre_trabalho.jpg' %>
      <p>trabalho</p>
    </div>
    <div class="beleza-item">
      <%= image_tag 'singu_sobre_aeroporto.jpg' %>
      <p>aeroporto</p>
    </div>
    <div class="beleza-item">
      <%= image_tag 'singu_sobre_eventos.jpg' %>
      <p>eventos</p>
    </div>
    <div class="beleza-item">
      <%= image_tag 'singu_sobre_live.jpg' %>
      <p>lives</p>
    </div>
    <div class="beleza-item">
      <%= image_tag 'singu_sobre_feiras.jpg' %>
      <p>feiras</p>
    </div>
  </div>
</div>
