<div class="container beleza">
  <div class="beleza-info">
    <h3>Beleza e bem-estar</h3>
    <h2>360</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit suscipit congue. Aliquam at lacus ac enim scelerisque pulvinar. Sed ultricies justo eget sem porta luctus.</p>
  </div>
  <div class="beleza-solutions">
    <div class="beleza-item">
      <%= image_tag 'foto1.jpg' %>
      <p>Em casa</p>
    </div>
    <div class="beleza-item">
      <%= image_tag 'foto1.jpg' %>
      <p>Em feiras</p>
    </div>
    <div class="beleza-item">
      <%= image_tag 'foto1.jpg' %>
      <p>No aeroporto</p>
    </div>
    <div class="beleza-item">
      <%= image_tag 'foto1.jpg' %>
      <p>Em eventos</p>
    </div>
    <div class="beleza-item">
      <%= image_tag 'foto1.jpg' %>
      <p>Em lives</p>
    </div>
    <div class="beleza-item">
      <%= image_tag 'foto1.jpg' %>
      <p>No escritório</p>
    </div>
  </div>
</div>
