<div class="container beneficios">
  <div id="carouselBeneficios" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselBeneficios" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselBeneficios" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselBeneficios" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active transition: transform 2s ease, opacity .5s ease-out">
        <%= image_tag("foto2.jpg", class:"d-block w-100", alt:"Image 2") %>
        <div class="carousel-caption d-none d-md-block">
          <h3>singu benefícios</h3>
          <p>Presenteie sua equipe com momentos de autocuidado: vouchers para unhas, assinaturas mensais de massagens e muito mais!</p>
          <%= link_to "saiba mais!", solucoes_path, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("foto3.jpg", class:"d-block w-100", alt:"Image 3") %>
        <div class="carousel-caption d-none d-md-block">
          <h3>singu no seu negócio</h3>
          <p>Já pensou em ter uma artista Singu levando beleza e bem-estar ao seu negócio?</p>
          <%= link_to "saiba mais!", solucoes_path, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("foto1.jpg", class:"d-block w-100", alt:"Image 1") %>
        <div class="carousel-caption d-none d-md-block">
          <h3>singu parcerias</h3>
          <p>Dos grandes eventos ao fim de ano do seu time, estamos aqui pra ser sua parceira! </p>
          <%= link_to "saiba mais!", solucoes_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
