<div class="beneficios">
  <div id="carouselBeneficios" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselBeneficios" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselBeneficios" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselBeneficios" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active transition: transform 2s ease, opacity .5s ease-out">
        <%= image_tag("Singu-solucoes-wide-1.jpg", class:"d-block w-100", alt:"Image 2") %>
        <div class="carousel-caption d-none d-md-block">
          <h3>vale singu</h3>
          <p>Presenteie sua equipe com momentos de autocuidado: vouchers para unhas, assinaturas mensais de massagens e muito mais!</p>
          <%= link_to "saiba mais", solucoes_path, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("Singu-solucoes-wide-2.jpg", class:"d-block w-100", alt:"Image 3") %>
        <div class="carousel-caption d-none d-md-block">
          <h3>singu in loco</h3>
          <p>J치 pensou em ter uma artista Singu levando beleza e bem-estar ao seu neg칩cio?</p>
          <%= link_to "saiba mais", solucoes_path, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("Singu-solucoes-wide-3.jpg", class:"d-block w-100", alt:"Image 1") %>
        <div class="carousel-caption d-none d-md-block">
          <h3>singu parcerias</h3>
          <p>Dos grandes eventos ao fim de ano do seu time, estamos aqui pra ser sua parceira </p>
          <%= link_to "saiba mais", solucoes_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-beneficios-container">
  <div class="mobile-beneficios-list">
    <div class="mobile-beneficios-info">
      <h4>vale singu</h4>
      <p>Presenteie sua equipe com momentos de autocuidado: vouchers para unhas, assinaturas mensais de massagens e muito mais!</p>
    </div>
    <div class="mobile-beneficios-info">
      <h4>singu in loco</h4>
      <p>J치 pensou em ter uma artista Singu levando beleza e bem-estar ao seu neg칩cio?</p>
    </div>
    <div class="mobile-beneficios-info">
      <h4>singu parcerias</h4>
      <p>Dos grandes eventos ao fim de ano do seu time, estamos aqui pra ser sua parceira </p>
    </div>
  </div>
  <div class="mobile-beneficios-link">
    <%= link_to "saiba mais", solucoes_path, class: "btn btn-primary" %>
  </div>
</div>
