<footer>
  <div class="container footer">
    <div class="footer-links">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag("singu-logo.svg", alt: "Singu", style: "width: 120px;") %>
      <% end %>
      <div class="footer-clickables">
        <div class="footer-links-detail">
          <%= link_to "Sobre nós", sobre_path, class: "nav-link" %>
          <%= link_to "Soluções", solucoes_path, class: "nav-link" %>
          <%= link_to "Contato", new_contato_path, class: "nav-link" %>
        </div>

          <div class="footer-socials">
            <a href="https://www.linkedin.com/company/singu/"><i class="fab fa-linkedin fa-2xl" style="color: #000000;"></i></a>
            <a href="https://www.instagram.com/singu"><i class="fa-brands fa-instagram fa-2xl" style="color: #000000;"></i></a>
          </div>
      </div>
    </div>
    <div class="footer-text">
      <br>
      <p>É o maior e melhor aplicativo de delivey de beleza do
        Brasil. Com ele é possível fazer unhas, massagem,
        depilação e escova de cabelo sem sair de casa.</p>
      <br>
      <br>
      <p>Todos os direitos reservados singu © 2023</p>
    </div>
  </div>
</footer>
