<footer>
  <div class="container footer">
    <div class="footer-links">
      <%= link_to root_path, class: "navbar-brand zoom" do %>
        <%= image_tag("singu-logo.svg", alt: "Singu", style: "width: 120px;") %>
      <% end %>
      <div class="footer-clickables">
        <div class="footer-links-detail">
          <%= link_to "Sobre nós", sobre_path, class: "nav-link zoom" %>
          <%= link_to "Soluções", solucoes_path, class: "nav-link zoom" %>
          <%= link_to "Contato", new_contact_path, class: "nav-link zoom" %>
        </div>

          <div class="footer-socials">
            <a href="https://www.linkedin.com/company/singu/"><i class="fab fa-linkedin fa-2xl zoom" style="color: #000000;"></i></a>
            <a href="https://www.instagram.com/singu"><i class="zoom fa-brands fa-instagram fa-2xl" style="color: #000000;"></i></a>
          </div>
      </div>
    </div>
    <div class="footer-text">
      <br>
      <p>A Singu é o maior e mais incrível app de beleza e bem-estar delivery do Brasil! Aqui, você pode cuidar das unhas, relaxar com uma massagem, fazer depilação ou escovar seus cabelos sem sair de casa. E agora, com o novo serviço Singu Now, você pode ter uma profissional em sua porta em apenas 40 minutos.</p>
      <br>
      <br>
      <p>Todos os direitos reservados singu © 2023</p>
    </div>
  </div>
</footer>
