<div class="container message-form">
  <h3>Preencha o formulário abaixo pra gente apresentar as melhores soluções de beleza e bem-estar pro seu negócio!</h3>

  <%= simple_form_for @contact, url: contato_index_path do |f| %>
    <div class="form-row">
      <%= f.input :first_name, label: false, placeholder: 'Nome', input_html: { class: 'form-control' } %>
      <%= f.input :last_name, label: false, placeholder: 'Sobrenome', input_html: { class: 'form-control' } %>
    </div>
    <div class="form-row">
      <%= f.input :company, label: false, placeholder: 'Empresa', input_html: { class: 'form-control' } %>
      <%= f.input :cnpj, label: false, placeholder: 'CNPJ', input_html: { class: 'form-control' } %>
    </div>
    <div class="form-row">
      <%= f.input :phone_number, label: false, placeholder: 'Telefone', input_html: { class: 'form-control' } %>
      <%= f.input :email, label: false, placeholder: 'Email', input_html: { class: 'form-control' } %>
    </div>
    <%= f.input :message, label: false, placeholder: 'Digite sua mensagem', as: :text %>
    <%# <%= f.association :solutions, as: :check_boxes %>
    <%= f.button :submit,'Enviar',class:"btn btn-primary" %>
  <% end %>
</div>
