<nav class="navbar navbar-expand-lg bg-light">
  <div class="container container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("singu-empresas.png", alt: "Singu", style: "width: 240px;", class: "zoom") %>
  <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <%= image_tag("singu-logo.svg", alt: "Singu", style: "width: 100px;") %>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <%= link_to "Sobre nós", sobre_path, class: "zoom nav-link #{"active" if current_page?(sobre_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Soluções", solucoes_path, class: "zoom nav-link #{"active" if current_page?(solucoes_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contato", new_contact_path, class: "zoom nav-link #{"active" if current_page?(new_contact_path)}" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
