<div class="container container-solutions">
<%# Cartoes de beneficios para colaborador %>
  <div class="solutions-title">
    <h3>vale singu</h3>
    <%# <p>ofereça beneficios de beleza e bem estar para os seus colaboradores usarem em casa ou onde estiverem!</p> %>
  </div>
  <div class="solutions-cards">
    <div class="solution zoom" data-controller="scroll-animation">
      <div class="solution-image">
        <%= image_tag "solucao_voucher.jpg" %>
      </div>
      <div class="solution-info">
        <h3>voucher</h3>
        <br>
        <p>Que tal presentear seus colaboradores com vouchers de bem-estar e relaxamento? Seja no aniversário, final de ano ou na entrega de resultados positivos, todo mundo adora ganhar um mimo de autocuidado!</p>
        <br>
        <%= link_to "tenho interesse", new_contact_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="solution zoom" data-controller="scroll-animation">
      <div class="solution-image">
        <%= image_tag "solucao_beneficio.jpg" %>
      </div>
      <div class="solution-info">
        <h3>assinatura</h3>
        <br>
        <p>Deixe o pacote de benefícios da sua empresa ainda mais completo oferecendo soluções de bem-estar e beleza mensal para seus colaboradores.</p>
        <br>
        <%= link_to "tenho interesse", new_contact_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <%# Cartoes de solucoes para espaco fisico %>
  <div class="solutions-title">
    <h3>singu in loco</h3>
  </div>
  <div class="solutions-cards">
    <div class="solution zoom" data-controller="scroll-animation">
      <div class="solution-image">
        <%= image_tag "solucao_corporate.jpg" %>
      </div>
      <div class="solution-info">
        <h3>corporativo</h3>
        <br>
        <p>Crie um espaço de bem-estar na sua empresa com visitas regulares das nossas artistas e ofereça mais facilidade e carinho pra sua equipe. Ter a oportunidade de fazer as unhas entre reuniões ou aproveitar uma massagem relaxante após uma apresentação importante é o toque Singu que seus colaboradores merecem!</p>
        <br>
        <%= link_to "tenho interesse", new_contact_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="solution zoom" data-controller="scroll-animation">
      <div class="solution-image">
        <%= image_tag "solucao_residencial.jpg" %>
      </div>
      <div class="solution-info">
        <h3>residencial</h3>
        <br>
        <p> Leve ainda mais inovação para os moradores do seu espaço residencial com nossas soluções de bem-estar. As artistas Singu estão preparadas para proporcionar momentos de autocuidado através de diversos serviços de beleza, deixando seu ambiente super diferenciado e atrativo. </p>
        <br>
        <%= link_to "tenho interesse", new_contact_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <%# Cartoes para parcerias com agências %>
  <div class="solutions-title">
    <h3>singu parcerias</h3>
  </div>
  <div class="solutions-cards">
    <div class="solution zoom" data-controller="scroll-animation">
      <div class="solution-image">
        <%= image_tag "solucao_festival.jpg" %>
      </div>
      <div class="solution-info">
        <h3>eventos singu</h3>
        <br>
        <p>Shows, festivais, feiras e eventos em geral - estamos prontas para participar! E para tornar essa experiência ainda mais incrível, nada como ter um espaço relaxante Singu pra recarregar as energias com uma massagem ou dar aquele toque no visual com nossas profissionais super qualificadas.</p>
        <br>
        <%= link_to "tenho interesse", new_contact_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="solution zoom" data-controller="scroll-animation">
      <div class="solution-image">
        <%= image_tag "solucao_evento.jpg" %>
      </div>
      <div class="solution-info">
        <h3>dia especial singu</h3>
        <br>
        <p>Em dias especiais, merecemos um cuidado único! Já imaginou ter um espaço Singu para oferecer uma experiência inesquecível de cuidado e beleza aos seus convidados em casamentos, aniversários ou outras celebrações?</p>
        <br>
        <%= link_to "tenho interesse", new_contact_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
