<div class="container container-solutions">
<%# Cartoes de beneficios para colaborador %>
  <div class="solutions-title">
    <h3>benefícios para o colaborador</h3>
  </div>
  <div class="solutions-cards">
    <div class="solution">
      <div class="solution-image">
        <%= image_tag "foto1.jpg" %>
      </div>
      <div class="solution-info">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit suscipit congue. Aliquam at lacus ac enim scelerisque pulvinar. Sed ultricies justo eget sem porta luctus.</p>
        <%= link_to "saiba mais", new_contato_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="solution">
      <div class="solution-image">
        <%= image_tag "foto1.jpg" %>
      </div>
      <div class="solution-info">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit suscipit congue. Aliquam at lacus ac enim scelerisque pulvinar. Sed ultricies justo eget sem porta luctus.</p>
        <%= link_to "saiba mais", new_contato_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <%# Cartoes de solucoes para espaco fisico %>
  <div class="solutions-title">
    <h3>soluções para espaço físico</h3>
  </div>
  <div class="solutions-cards">
    <div class="solution">
      <div class="solution-image">
        <%= image_tag "foto1.jpg" %>
      </div>
      <div class="solution-info">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit suscipit congue. Aliquam at lacus ac enim scelerisque pulvinar. Sed ultricies justo eget sem porta luctus.</p>
        <%= link_to "saiba mais", new_contato_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="solution">
      <div class="solution-image">
        <%= image_tag "foto1.jpg" %>
      </div>
      <div class="solution-info">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit suscipit congue. Aliquam at lacus ac enim scelerisque pulvinar. Sed ultricies justo eget sem porta luctus.</p>
        <%= link_to "saiba mais", new_contato_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <%# Cartoes para parcerias com agências %>
  <div class="solutions-title">
    <h3>parcerias com agências</h3>
  </div>
  <div class="solutions-cards">
    <div class="solution">
      <div class="solution-image">
        <%= image_tag "foto1.jpg" %>
      </div>
      <div class="solution-info">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit suscipit congue. Aliquam at lacus ac enim scelerisque pulvinar. Sed ultricies justo eget sem porta luctus.</p>
        <%= link_to "saiba mais", new_contato_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="solution">
      <div class="solution-image">
        <%= image_tag "foto1.jpg" %>
      </div>
      <div class="solution-info">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit suscipit congue. Aliquam at lacus ac enim scelerisque pulvinar. Sed ultricies justo eget sem porta luctus.</p>
        <%= link_to "saiba mais", new_contato_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
