<div class="solution-slider">
  <div class="slides zoom">
    <div class="slide-image">
      <%= image_tag "unhas.jpg"%>
    </div>
    <div class="slide-info">
      <p>unhas</p>
    </div>
  </div>
  <div class="slides zoom">
    <div class="slide-image">
      <%= image_tag "massagem.jpg"%>
    </div>
    <div class="slide-info">
      <p>massagem</p>
    </div>
  </div>
  <div class="slides zoom">
    <div class="slide-image">
      <%= image_tag "unhas.jpg"%>
    </div>
    <div class="slide-info">
      <p>cabelo</p>
    </div>
  </div>
  <div class="slides zoom">
    <div class="slide-image">
      <%= image_tag "massagem.jpg"%>
    </div>
    <div class="slide-info">
      <p>estética</p>
    </div>
  </div>
  <div class="slides zoom">
    <div class="slide-image">
      <%= image_tag "unhas.jpg"%>
    </div>
    <div class="slide-info">
      <p>maquiagem</p>
    </div>
  </div>
  <div class="slides zoom">
    <div class="slide-image">
      <%= image_tag "unhas.jpg"%>
    </div>
    <div class="slide-info">
      <p>unhas</p>
    </div>
  </div>
  <div class="slides zoom">
    <div class="slide-image">
      <%= image_tag "massagem.jpg"%>
    </div>
    <div class="slide-info">
      <p>massagem</p>
    </div>
  </div>
  <div class="slides zoom">
    <div class="slide-image">
      <%= image_tag "unhas.jpg"%>
    </div>
    <div class="slide-info">
      <p>cabelo</p>
    </div>
  </div>
  <div class="slides zoom">
    <div class="slide-image">
      <%= image_tag "massagem.jpg"%>
    </div>
    <div class="slide-info">
      <p>estética</p>
    </div>
  </div>
  <div class="slides zoom">
    <div class="slide-image">
      <%= image_tag "unhas.jpg"%>
    </div>
    <div class="slide-info">
      <p>maquiagem</p>
    </div>
  </div>
</div>
